body {
  font-family: "Impact", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  background-color: #000000;
}

nav {
  background-color: #061239;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.name {
  font-family: "Arial Black", sans-serif;
}

h2 {
  letter-spacing: 2px;
  color: #404040;
  text-align: center;
  padding: 0;
  margin: 0;
}

.head_text {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  color: #ffffff;
}

.main {
  display: flex;
  flex-direction: row; /* Stack elements horizontally */
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden; /* Prevent scrolling */
  background-color: #000000;
}

.orange_gradient {
  color: orange;
}

.container {
  color: #ff0000;
  text-align: center;
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  position: relative; /* Add this to position the answer input */
}

.invisible-input {
  font-family: "Impact", sans-serif;
  padding: 0;
  margin: 0;
  width: 270px;
  height: 50px;
  opacity: 100;
  border-radius: 25px;
  color: #323232;
  font-size: 30px;
  text-align: center; /* Align text to the right */
  direction: ltr; /* Set text direction to right-to-left */
  left: 0;
}

.digits {
  margin-bottom: 20px; /* Add margin at the bottom */
}
#digitSelector {
  padding: 10px;
  font-weight: 700;
  border-radius: 20px;
  margin-top: 10%;
}

.operations {
  color: white;
  margin-top: 20px; /* Add margin at the top */
}

.operations li {
  list-style: none;
}

.operations label {
  margin-right: 15px; /* Add some margin between checkboxes */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  padding: 30px;
  padding-top: 10px;
  border-radius: 20px;
}

.close {
  color: rgb(0, 255, 157);
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #aaaaaa;
}

.settingsButton {
  background-color: #0fc90f;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
}

.github_button {
  background-color: #262525;
  color: white;
  margin-left: 15px;
  padding: 15px;
  border-radius: 15px;
  font-size: 13px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  font-family: "Arial Black", sans-serif;
  cursor: pointer;
}

audio {
  color: white;
  margin-top: 20px;
  width: 100%;
  align-self: center;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #4d804d;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #fff;
  padding: 5px;
  background: #141414;
  border-radius: 10px;
  border: 1px solid #555;
  margin-top: 20px;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #4d804d;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #3c643c;
}
